# Environment
.venv/
env/
__pycache__/
*.pyc
uv.lock

# Jupyter
.ipynb_checkpoints/
notebooks

# Data
data/
data/raw/
data/cleaned/
data/processed/
!src/data


Artifacts/

models
models/
*.pkl
*.joblib

# Logs and cache
logs/
.cache/
*.log

# OS and IDE
.DS_Store
.vscode/
.idea/

# folders
extras
data

# Mlflow 
mlflow.db